@import "../../values/_color.scss";

.ContentTitle {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
}

.ContentTitle-text {
    display: inline;
    color: $--text_color;
    font-size: 26px;
    border-right: 1px solid $--border;
    padding-right: 20px;
}