@use './style/MainPage.scss';
@use './style/LoginPage.scss';
@use './style/Background.scss';
@use './style/RegisterPage.scss';
@use './style/ItemPage.scss';
@use './style/SearchPage.scss';
@use './style/SelfPage.scss';
@use './style/MygoodPage.scss';
@use './style/CartPage.scss';
@use './style/EditPage.scss';
@use './style/CreateGood.scss';

@use './style/components/SideBar.scss';
@use './style/components/UserInfo.scss';
@use './style//components/ContentTitle.scss';
@use './style/components/GoodItem.scss';
@use './style/components/ItemView.scss';
@use './style/components/CartItem.scss';
@use './style/components/ItemComment.scss';

html {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    ;
}

html,
body {
    height: 100%;
}

body {
    margin: 0px;
}

#app {
    height: 100%;
}