@import "../values/_color.scss";

.register-container {
    width: 600px;
    height: 620px;
    background-color: $--neutral;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "icon text text";
}

.register-text {
    grid-area: text;
    align-self: start;
    width: 300px;
    justify-self: center;
    margin-top: 10px;
}

.register-text-1 {
    font-size: 20px;
    margin-top: 10px;
}

.register-text-2 {
    font-size: 16px;
    margin-top: 10px;
}

.register-text-input {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.register-text-layout {
    width: 300px;
    padding-top: 10px;
}

.register-split {
    margin-top: 20px;
    border-top: 2px solid $--light;
}

.register-button {
    display: flex;
    justify-content: space-between;
    width: 260px;
    margin: auto;
    margin-top: 20px;

}

.register-button>div {
    display: inline;
}